:root {
    --base-color: #333333;
    --second-color: #2977F5;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(41, 119, 245, 0.07);
    margin-bottom: 2rem;
}
/*-- ----------------------------------top-nav starts------------------------------------------------- --*/
.top-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.top-nav .main-h1{
  color: #333333;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  padding: 0;
  margin-top: 0.5rem;
}
.top-nav .main-h1 span, .box span{
    color: var(--second-color);
}
.top-nav .nav-link{
    display: flex;
    margin-right: 3.5rem;
}
.top-nav .nav-link .nav-link-p{
    font-family: 'Roboto';
    text-transform: uppercase;
    cursor: pointer;
    color: var(--base-color);
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: bold;
}

.top-nav .nav-link #moon{
    color: var(--second-color);
    transform: rotate(-20deg);
    font-size: .8rem;
}
/*-- ----------------------------------top-nav ends------------------------------------------------- --*/
main{
    margin-left: 5rem;
    margin-right: 5rem;
}
/* --------------------------------------main box starts--------------------------------------------- */
.box{
    background-color: #D8E4FA;
    padding-bottom: 0.05rem;
}
.box .box-h1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    font-family: 'Inter';
    line-height: 1.3;
}
.u-blue{
    border-bottom: 4px solid var(--second-color);
}
#more-arrow{
    -webkit-text-stroke: 1px var(--second-color);
    margin-left: 5px;
}
#class:hover, .hover:hover #class,#more-arrow:hover , .hover:hover #more-arrow{
    animation-name: arrow;
    animation-duration: .8s;
}
@keyframes arrow{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
}
#box-a{
    font-family: 'Inter';
    margin-left: 3rem;
    margin-top: -3rem;
    margin-bottom: 4rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: var(--second-color);
    border-radius: 2px;
    width: 6.5rem;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}

/* --------------------------------------main box ends--------------------------------------------- */
/* --------------------------------------details starts--------------------------------------------- */

.second-box{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.second-box .second-box-left{
    display: flex;
    font-family: 'Roboto';
    font-size: .9rem;
    line-height: .1;
}
.second-box .second-box-left .second-box-1,.second-box .second-box-left .second-box-2{
    display: flex;
    flex-direction: column;

}
.second-box .second-box-2{
    margin-left: 2rem;
}
/* -------------------------------------------------------------------Icons start ----------------------------------------*/
.fa-twitter{
    margin: .3rem;
    font-size: 1.1rem;
    color: var(--base-color);
    cursor: pointer;
}
.fa-twitter:hover{
    color: #00acee;
 }
.fa-dribbble{
    margin: .3rem;
    font-size: 1.1rem;
    color: var(--base-color);
    cursor: pointer;
}
.fa-dribbble:hover{
    color: #ea4c89;
}
.fa-linkedin{
    color:transparent;
    -webkit-text-stroke: 1px var(--base-color);
     margin: .3rem;
     font-size: 1.1rem;
     cursor: pointer;
}
.fa-linkedin:hover{
    color:  #0e76a8;
}
.fa-instagram{
    margin: .3rem;
    font-size: 1.1rem;
    color: var(--base-color);
    cursor: pointer;
}
.fa-instagram:hover{
    color: #3f729b;
}
/* ----------------------------------------icons end---------------------------------------------*/
/* --------------------------------------details end--------------------------------------------- */
/* --------------------------------------four boxes starts--------------------------------------------- */

.four-boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.one-box{
    width: 21%;
    min-width: 6rem;
    padding:1rem;
    border-radius: 10px;
    background-color: #ffffff;
}
.four-boxes .one-box #pencil-nib{
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--second-color);
  margin-top: .8rem;
}
.four-boxes .one-box .one-box-h2{
    font-family: 'Inter';
    font-size: 1.2rem;
}
.four-boxes .one-box .one-box-p{
    font-family: 'IBM Plex Sans';
    color: #989696;
}
/* --------------------------------------four boxes ends--------------------------------------------- */
/* --------------------------------------subscribe box starts--------------------------------------------- */

.subscribe{
     background-color: #D8E4FA;
     margin-top: 3rem;
     padding-top: .5rem;
     padding-bottom: 1.3rem;   
     font-family: 'Roboto';

}
.subscribe .email-sub{
    display: flex;
    justify-content: space-between;
    background-color: #F0F5FE;
    width: 20rem;
    margin: auto;
    padding-left: .5rem;
    font-family: 'Roboto';
    font-size: .8rem;
}
.subscribe .subscribe-p{
    text-align: center;
    font-size: 1.3rem;
}
.subscribe .email-sub .subscribe-btn{
      background-color: var(--second-color);
      padding: .1rem;
      color: #ffffff;
      padding: .5rem 1.5rem;
      border: none;
      margin: 4px;
}
.email-sub .email-sub-p{
    color: #777777;
    margin-top: .8rem;
}
/* --------------------------------------subscribe box ends--------------------------------------------- */
/* --------------------------------------footer starts--------------------------------------------- */

.footer{
    color: var(--base-color);
    margin-top: 2rem;
    text-align: center;
    font-family: 'Roboto';
    font-size: .8rem;
}
.visual{
    color: var(--second-color);
    text-decoration: none;
}
/* --------------------------------------footer ends--------------------------------------------- */



/* --------------------------------------media quesries start--------------------------------------------- */
/* --------------------------------------mobile phone media query starts---------------------------------------- */
@media screen and (max-width:575px){

.top-nav{
    display: inline;
    text-align: center;
 }
 .top-nav .main-h1{
     margin: auto;
     margin-top: 2rem;
     padding: 0;
 }
 .top-nav .nav-link{
      display: flex;
      margin-right: 0;
      justify-content: center;
 }
 
 main{
     margin-left: 1.5rem;
     margin-right: 1.5rem;
 }
 
 
 .box{
     padding-bottom: .1rem;
 }
 .box .box-h1{
     padding-left: 1.5rem;
     font-size: 1.7rem;
 }
 .box #box-a{
     margin-left: 2rem;
 }
 
 
 .second-box{
     display: block;
 }
 .second-box .second-box-right{
     margin-top: 1rem;
     text-align: center;
 } 
 .second-box .second-box-left{
      justify-content: space-between;
 }
 
 
 .four-boxes{
     justify-content: space-around;
     flex-wrap: wrap;
 }
 .four-boxes .one-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
 }
.four-boxes .one-box .one-box-h2{
     margin-left: 2rem;
     margin-right: 5rem;
 }
 
 .subscribe .email-sub{
     width: 20rem;
     max-width: 90%;
 }
 .subscribe .email-sub .email-sub-p{
     font-size: .7rem;
 }
 
 .footer{
     font-size: .8rem;
 }
}
 /* --------------------------------------mobile phone media query ends---------------------------------------- */
 /* --------------------------------------tablet media queries start--------------------------------------------- */
@media screen and (min-width:576px) and (max-width:800px){
 main{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}


.top-nav .main-h1{
    margin-left: 2rem;
}
.top-nav .nav-link{
    margin-right: 2rem;
}



.four-boxes{
    justify-content: space-around;
    flex-wrap: wrap;
}
.four-boxes .one-box{
   width: 39%;
   margin: 7px;
}
.subscribe .email-sub .email-sub-p{
    font-size: .7rem;
}

.footer{
    font-size: .8rem;
}
}
/* ----------------------------------------------tablet media queries end---------------------------------- */
/* ----------------------------------------------normal screen media queries starts---------------------------------- */
 @media screen and (min-width:801px) and (max-width:1155px){
main{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.top-nav .main-h1{
    margin-left: 2rem;
}
.top-nav .nav-link{
    margin-right: 2rem;
}



.four-boxes{
   justify-content: space-around;
   flex-wrap: wrap;
}
.four-boxes .one-box{
  display: flex;
  flex-wrap: wrap;
  width: 41%;
  margin: 10px;
}
.four-boxes .one-box-h2{
   margin-left: 2rem;
}
.subscribe .email-sub .email-sub-p{
    font-size: .7rem;
}

.footer{
    font-size: .8rem;
}
 }

/* ----------------------------------normal screen media queries end--------------------------------- */
/* ----------------------------------media queries end------------------------------------------------ */






